h1 {
    color: blue;
    text-align: center;
}
h2{color: green;
font-style: italic;
text-align: center;
}
p {font-family: sans-serif;
    font-family: 'Times New Roman';
    font-size: 125%;
    color: gold

}
ul {line-height: 40px;
}